<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257283497244-3e3jtf0ke63urc9q1ji39m9mk6iqeqvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257283497244-3e3jtf0ke63urc9q1ji39m9mk6iqeqvo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257283497244-nvvooej1g7meqpq4rp21l2r20vnk1vfl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5cJ1iGxk60xDXZBdsO6QJdBn18TDi7uE</string>
	<key>GCM_SENDER_ID</key>
	<string>257283497244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bonumcoaching.bonummobile</string>
	<key>PROJECT_ID</key>
	<string>bonum-web-production</string>
	<key>STORAGE_BUCKET</key>
	<string>bonum-web-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257283497244:ios:3ac6bd51baef146e0f2ed9</string>
</dict>
</plist>